.Container {
  padding: 5px;
  background-color:#121212;
}

.DataGrid,
.Formularios,
.Grafico,
.Header,
.Footer,
.Card {
  
  border-radius: 10px;
  display: flex;
}

.Card{
  text-align: center;
  height: 100%;
  flex-direction: column;

}
.DataGrid {
  height: 360px;
  background-color:rgba(255, 255, 255, 0.05);
}

.DataGridColumn{
  color: #FFF;
}

.Formularios {
  padding: 5px;
  background-color:rgba(255, 255, 255, 0.05);
}

.Grafico {
  background-color:rgba(255, 255, 255, 0.05);
  height: 100%;
  min-height: 200px;
  flex-direction: column;
}

.Header {
  height: 0px;
  text-align: center;
}

.Footer {
  height: 30px;
}


